<nav class="navbar navbar-light bg-light mb-5">
    <div class="container">
        <h1 class="navbar-brand mb-0">@title</h1>
    </div>
</nav>

@code
{
    [Parameter]
    public string title { get; set; }
}