<form class="form-inline mb-5" @onsubmit="SubmitForm">
    <div class="form-group col-8 pl-0">
        <input required class="form-control mt-3 col" type="text" placeholder="City" @bind="city" />
    </div>

    <button class="btn-search btn btn-primary mt-3 col-4" type="submit">Search</button>
</form>

@code
{
    [Parameter]
    public EventCallback<string> OnSubmit { get; set; }
    private string city { get; set; }

    private void SubmitForm()
    {
        if (!String.IsNullOrWhiteSpace(city))
        {
            OnSubmit.InvokeAsync(city);

            city = string.Empty;
        }
    }
}